@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    height: 100%;
    background:linear-gradient(90deg, #111111e4,#000);
}

.Main-Container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:40px;
    height:8vh;
}

.navBar {
    margin-left: 20vw;
    width:80%;
    height: 8vh;
    /* border: 1px solid red; */
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 20px;
    font-size: 20px;
}

.navBar ul li {
    list-style: none;
    
}

.navBar ul li a{
    text-decoration: none;
    color: #2ad1cb;
}

.myName {
    /* border: 1px solid green; */
    margin-left: 2vw;
}

.myName h2 {
    font-family: 'Dancing Script',sans-serif;
    color: #2ad1cb;

}