@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 *{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color:white;
}

body{
    height:100%;
    width:100%;
    background: linear-gradient(90deg, #000, #010);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.loaded {
    opacity: 1;
}

.myName{
    font-family:"Playwrite CA", cursive;
    font-size: 19px;
    padding-left: 15px;
    font-weight: 400;
}

.navContainer{
    width:100%;
    height:10vh;
    background-color: rgb(231, 46, 14);
    /* max-width: 670px; */
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.navBar{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
    margin: 10px;
    padding: 10px;
    /* transform: scaleX(0); */
    
}

.nav ul li{
    font-family: "Josefin Sans", sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-left: 70px;
    letter-spacing: 2px;    
    position: relative;
    /* transform: scaleX(0); */
}

.nav ul li::after{
    content: " ";
    position: absolute;
    left:0;
    bottom: 0;
    display: flex;
    height:2px;
    width:100%;
    /* border: 1px solid green; */
    border-radius: 30px;
    background:rgb(233, 255, 254);
    transform: scaleX(0);
    transition:transform 0.3s ease-in-out;
}

.nav ul li:hover::after{
    cursor:pointer;
    transform: scaleX(1);
}

.inFoContainer{
    width:100%;
    /* border: 1px solid yellow; */
    margin-top:20px;
    padding:20px;
    position: relative;
    min-height: 47vh;
    
}

.inFoContainer .domain-experience{
    padding:5px;
}

.nameInInfo{
    font-family: "Josefin Sans", sans-serif;
    line-height: 6.5vh;
}

span{
    color:rgb(231, 46, 14);
}

.profileContainer{
    height:40vh;
    width:20vw;
    /* border-radius: 50%; */
    /* background-repeat: repeat; */
    position: absolute;
    right:120px;
    top:20px;
    /* border:1px solid yellow; */
}

.profile-bg{
    position:absolute;
    height:100%;
    width:100%
}

.aboutContainer{
    width:100%;
    /* border:1px solid lightgreen; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.aboutHeading{
    padding-left: 24px;
    margin-bottom: 10px;
}

.aboutMe{
    width:50vw;
    /* border:1px solid yellow; */
    margin-right: 10px;
    margin-bottom: 15px;
}

.aboutContainer .domain-experience{
    padding-left: 24px;
}

.domain-experience{
    line-height: 28px;
}

.Skills-container{
    width:100%;
}

.Skills-heading{
    padding-left:24px;
}

.html{
    padding: 15px;
}

label{
    /* display:inline; */
    margin-right: 10px;
    padding-left: 13px;
}

.Progress-main{
    height:2vh;
    width:30%;
    background-color:white;
    display:inline-block;
}

.progress-percentage{
    height:100%;
    width:80%;
    background-color:rgb(231, 46, 14);
}